body{
    background-image:url("media/pexels-sohail-nachiti-807598.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% ;
}
#form{
   width:50vh;
   margin: 20vh auto auto auto;
   background-color: rgba(240, 248, 255, 0.637);
   border-radius: 5px;
   padding: 20px;
   display: block;

}
h1{
    text-align: center;
    color: rgb(11, 151, 93);
}
button{
    background-color: rgb(143, 173, 135);
    color: rgb(245, 245, 245);
    text-align: center;
    width: 50vh;
    margin: 20px auto 0px auto;
    padding: 6px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}
.full{
    display:flex;
    flex-direction: column;
}
.full input{
    border: 1px solid rgb(134, 238, 229);
    font-size: 18px;
    border-radius: 5px;
    margin-top: 2px;
    padding:7px;
    padding-left:10px ;

}
.full input:focus{
    outline: 0cm;
}
.full label{
    font-size: 20px;
    color: rgb(6, 6, 110);
    padding: 2px;
}
.error{
    color: red;
    font-size: 16px;
}
.full.success input{
    border-color: green;
}

.full.error input{
    border-color: red;
}